<div id="homeLogin">
<%= link_to 'Login', controller: :book_creator %>
</div>
<div class="pageHolder">
<%
  5.times do
@users.each do |u| 
  if u.has_page? and not u.text_template.nil?
%>
  <div class="page">
    <%= image_tag u.text_template.picture_url, :class => "bookTextTemplate" %>
    <%= image_tag u.image_url, :class => "bookImage" %>
  </div>
  <%
  end
  end
end
%>
