<div id="homeLogin">
<%= link_to 'Login', controller: :book_creator %>
</div>
<div class="pageHolder">
<%
@users.each do |u| 
  if u.has_page?
%>
  <%= image_tag u.image_url, :class => "bookImage" %>
<%
  end
end
%>
