*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  width: 100%;
}

body{
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, _sans;
}

a{
  color: #fff;
}

p.notice {
  text-align: center;
  color: #333;
}

.page {
  height: 100%;
  position: absolute;
  overflow: hidden;

  .name {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    color: black;
    background: white;
    padding: 7px 10px;
  }

  .bookImage { height: 100%; z-index: 0 }
  .bookTextTemplate, object { height: 100%; position: absolute; z-index: 1; visibility: hidden }
  .pageHolder {
    height: 100%;
    display: inline;
  }
}
#homeLogin {
  height: 100%;
  display: inline;

  .cover {
    height: 100%;
  }

  form {
    position: absolute;
    top: 37%;
    padding: 10px;
    background-image: url(/assets/black_80.png);
    font-size: small;
    margin-left: 73%;

    input {
      border: none;
      background-color: #333;
      color: #fff;
      padding: 5px;

      &[type=submit]{
      }
    }

    div {
      padding: 5px 0;
    }

  }
}

#loginPanel{
  width: 180px;
  margin: auto;
  margin-top: 100px;

  font-size: 12px;

  input {
    padding: 5px;
    border: none;
  }

  form {
  
    position: absolute;
    top:50%;
    margin-top: -85px;

    div {
      padding: 5px 0;
    }
  }
}

.balloon{
  position: absolute;
  padding: 15px;
  color: white;
  background: url(/assets/balloon_bg.png);
  font-size:small;
  position: relative;

  img {
    position: absolute;
  }
}
