*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  width: 100%;
}

body{
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, _sans;
}

a{
  color: #fff;
}

p.notice {
  text-align: center;
  color: #333;
}

.page {
  height: 100%;
  position: absolute;
}
.bookImage { height: 100% }
.bookTextTemplate { height: 100%; position: absolute; }
.pageHolder {
  height: 100%;
}
#homeLogin {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000;
  padding: 10px;
}

#loginPanel{
  width: 180px;
  margin: auto;
  margin-top: 100px;

  font-size: 12px;

  input {
    padding: 5px;
    border: none;
  }

  form {
  
    position: absolute;
    top:50%;
    margin-top: -85px;

    div {
      padding: 5px 0;
    }
  }
}
